<!-- views/home.handlebars -->
<div id="header" class="text-center">
  <h1 >Plans tonight?</h1>
  <h3 >Find out what's going on in your area</h3>
  <img class="center-block img-responsive" src="https://s-media-cache-ak0.pinimg.com/564x/8e/c4/3f/8ec43f37ccd45c8b61006628ddb0b02c.jpg">
  <p>Register for free and learn how to</p>
  <a class="btn btn-primary btn-lg img-center" href="/signin" role="button">Sign Up</a>
</div>